html{
    background-color: rgba(246, 152, 45, 0.521);
}

#hero img{ 
    display: inline-block;
    border-radius: 10%;
}
#hero h1{
    font-family: "Cormorant Garamond" ;
    font-weight: Bold;
    font-size: xx-large;
}
#hero p{
    font-family: Satisfy;
}

#interest h2{
    font-family: Satisfy;
    font-weight: bold;
}

